<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.starkey.pelanggan">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- for sms -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="id.starkey.pelanggan.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="id.starkey.pelanggan.permission.MAPS_RECEIVE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Apps"
        android:allowBackup="true"
        android:icon="@mipmap/ic_starkey_customer_curved"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_starkey_customer_curved"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeMenuJasaLain.TransaksiJasaLain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ACT_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeMenuJasaLain.ReviewMitraJasaLain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeMenuJasaLain.DeskripsiOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeMenuJasaLain.ProdukPerToko"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- meta data map -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBethvwb6wjZDNC0JPyUcjdXtfYhcJWWCQ" />
        -->
        <activity
            android:name=".Maps.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kunci.IsiDetailKunci.IsiDetailKunciActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kunci.ReviewKunci.ReviewKunciActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kunci.TrxKunci.TrxKunciActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kunci.WaitingKunci.WaitingKunciActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ratting.RattingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Laundry.IsiDetailLaundry.IsiDetailLaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Laundry.ReviewLaundry.ReviewLaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Laundry.WaitingLaundry.WaitingLaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Laundry.TrxLaundry.TrxLaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stempel.IsiDetailStempel.IsiDetailStempelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stempel.ReviewStempel.ReviewStempelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stempel.WaitingStempel.WaitingStempelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stempel.TrxStempel.TrxStempelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bantuan.BantuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SyaratdanK.SyaratdanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pengaturan.PengaturanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Hubungi.HubungiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Daftar.InputHpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Daftar.InputKodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Daftar.FormDaftarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Daftar.InputFotoActivity"
            android:screenOrientation="portrait" />

        <service android:name=".Utilities.GPSTracker" />

        <activity
            android:name=".MapsUbahLoc.MapsUbahActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Test.CobaSocketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kunci.PilihKunci.PilihKunciActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait" />

        <service android:name=".Firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".EditFotoProfile.EditFotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LupaPassword.NomorHpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LupaPassword.VerifCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LupaPassword.FormNewPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiveRatting.LiveRattingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stempel.EnlargeImgStempel.EnlargeImgStempelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoTerbaru.InfoTerbaruActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OMCustomerService.OMCustomerService"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeMenuJasaLain.KategoriJasaLain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeMenuJasaLain.TokoPerKategori"
            android:screenOrientation="portrait" />
    </application>

</manifest>